@page
@{
    ViewData["Title"] = "PhoneNumbers";
}

<h2>PhoneNumbers</h2>

@(Html.DevExtreme().DataGrid<Phonebook.Models.PhoneNumber.PhoneNumber>()
    .DataSource(ds => ds.Mvc()
        .Controller("PhoneNumbersWebApi")
        .LoadAction("Get")
        .InsertAction("Post")
        .UpdateAction("Put")
        .DeleteAction("Delete")
        .Key("Id")
    )
    .RemoteOperations(true)
    .Columns(columns => {

        columns.AddFor(m => m.DistrictId)
            .Lookup(lookup => lookup
                    .DataSource(d => d.Mvc().Controller("PhoneNumbersWebApi").LoadAction("DistrictLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                );

        columns.AddFor(m => m.MicrodistrictId)
            .Lookup(lookup => lookup
                    .DataSource(d => d.Mvc().Controller("PhoneNumbersWebApi").LoadAction("MicrodistrictLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                );

        columns.AddFor(m => m.Address);

        columns.AddFor(m => m.FullName);

        columns.AddFor(m => m.Number);

        columns.AddFor(m => m.Note);
    })
    .Editing(e => e
        .Mode(GridEditMode.Popup)
        .AllowAdding(true)
        .AllowUpdating(true)
        .AllowDeleting(true)
        .Popup(p => p
            .Title("Редактирование")
            .ShowTitle(true)
            .Width(700)
            .Height(500)
        )
        .Form(f => f.Items(items =>
        {
            items.AddGroup()
                .ColCount(1)
                .ColSpan(2)
                .Items(groupItems =>
                {
                    groupItems.AddSimpleFor(m => m.DistrictId);
                    groupItems.AddSimpleFor(m => m.MicrodistrictId);
                    groupItems.AddSimpleFor(m => m.Address);
                    groupItems.AddSimpleFor(m => m.FullName);
                    groupItems.AddSimpleFor(m => m.Number);

                    groupItems.AddSimpleFor(m => m.Note)
                        .Editor(editor => editor.TextArea().Height(100));
                });
        }))
    )
)
