@page
@{
    ViewData["Title"] = "Locations";
}

<h2>Locations</h2>
<div class="row no-gutters">
    <div class="col">
        @(Html.DevExtreme().DataGrid<Phonebook.Models.Location.District>()
            .ID("districts")
            .DataSource(ds => ds.Mvc()
                .Controller("TerritorialUnitsWebApi")
                .LoadAction("GetDistricts")
                .InsertAction("PostDistrict")
                .UpdateAction("PutDistrict")
                .DeleteAction("Delete")
                .Key("ID")
            )
            .Selection(s => s.Mode(SelectionMode.Single))
            .HoverStateEnabled(true)
            .RemoteOperations(true)
            .Columns(columns => {

                columns.AddFor(m => m.Name);
            })
            .Editing(e => e
                .AllowAdding(true)
                .AllowUpdating(true)
                .AllowDeleting(true)
            )
            .OnContentReady("selection")
            .OnSelectionChanged("selection")

        )
    </div>
    <div class="col">
        @(Html.DevExtreme().DataGrid<Phonebook.Models.Location.Microdistrict>()
            .ID("microdistricts")
            .DataSource(ds => ds.Mvc()
                .Controller("TerritorialUnitsWebApi")
                .LoadAction("GetMicrodistricts")
                .InsertAction("PostMicrodistrict")
                .UpdateAction("PutMicrodistrict")
                .DeleteAction("Delete")
                .Key("ID")
            )
            .RemoteOperations(true)
            .Columns(columns => {

                columns.AddFor(m => m.Name); 
                columns.AddFor(m => m.DistrictId)
                    .Lookup(lookup => lookup
                                .DataSource(d => d.Mvc().Controller("TerritorialUnitsWebApi").LoadAction("GetDistricts").Key("ID"))
                                .ValueExpr("ID")
                                .DisplayExpr("Name")
                            );
            })
            .Editing(e => e
                .AllowAdding(true)
                .AllowUpdating(true)
                .AllowDeleting(true)
            )
        )
    </div>
</div>



<script>
    function selection(selectedItems) {
        var dataGridMicrodistrict = $("#microdistricts").dxDataGrid("instance");
        var districtId;
        if (!selectedItems.selectedRowKeys) {
            //select first district
            var dataGridDistrict = $("#districts").dxDataGrid("instance");
            dataGridDistrict.selectRowsByIndexes(0);
            //get Id of first district
            districtId = dataGridDistrict.getKeyByRowIndex(0);
        }
        else {
            //get Id of selected district
            districtId = selectedItems.selectedRowKeys[0];
        }
        //filter microdistricts by selected district
        dataGridMicrodistrict.filter(["DistrictId", "=", districtId]);
    }
    
</script>